.background {
  width: 100vw;
  height: 91vh;
  background-image: linear-gradient(to top right, #212121, #323232);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rubiks-cube {
  /* border: 1px red solid; */

  width: 20vw;
  height: 55vh;
}

.scramble-cube {
  width: 5rem;
  height: 5rem;
}
