.background {
  width: 100vw;
  height: 91vh;
  background-image: linear-gradient(to top right, #212121, #323232);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rubiks-cube {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 20rem;

  @media (min-width: 320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    height: 28rem;
  }
  @media (min-width: 481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    height: 30rem;
  }
  @media (min-width: 641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    height: 32rem;
  }
}
