.svg-header {
  width: 20rem;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
}

.svg {
  position: absolute;
  width: 2.1rem;
  height: 2.1rem;
}

.reset-svg {
  /* top: 25px; */
  left: 25px;
}

.cube-svg {
  /* top: 25px; */
  left: 90px;
}
