.color-picker {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.5rem;

  @media (min-width: 320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    width: 20rem;
  }
  @media (min-width: 481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    width: 32.5rem;
  }
}

.color-picker button {
  background: #e4edf1;
  border-radius: 1.5rem;
  color: #212121;
  font-size: 1.2em;
  text-align: center;
  border: none;

  margin: 0;
  padding: 0;

  @media (min-width: 320px) {
    width: 2.5rem;
    height: 1.75rem;
  }

  @media (min-width: 481px) {
    width: 4rem;
    height: 2rem;
  }
}

.color-picker .white-btn {
  background-color: var(--up-color);
}

.color-picker .orange-btn {
  background-color: var(--left-color);
}

.color-picker .selected {
  outline: 2px solid #007bff; /* Change color and thickness to suit your design */
}

.color-picker .green-btn {
  background-color: var(--front-color);
}

.color-picker .red-btn {
  background-color: var(--right-color);
}

.color-picker .blue-btn {
  background-color: var(--back-color);
}

.color-picker .yellow-btn {
  background-color: var(--down-color);
}
