.center {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.btn-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 24rem;
}

.btn-header button {
  position: absolute;
  margin-top: 25px;
  border: none;
  width: 7.5rem;
  height: 2.5rem;
  border-radius: 1.5rem;
  background: #e4edf1;
  color: #212121;
  font-size: 1.2em;
  text-align: center;
}
