.svg-header {
  position: absolute;
  z-index: 1;
}

.svg {
  position: absolute;
  width: 2.75em;
  height: 2.75em;
}

.scramble-svg {
  top: 25px;
  left: 25px;
  transform: rotate(90deg) scaleX(-1);
}
