.scroll-header {
  z-index: 1;
  position: absolute;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.svg-header {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 10%;
  gap: var(--_spacer);

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.svg-header span {
  aspect-ratio: 1/1;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  border-radius: 5px;
  color: white;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_spacer, 1rem);
}

.snaps-inline > * {
  scroll-snap-align: start;
}

.F_move {
  background: var(--front-color);
}

.B_move {
  background: var(--back-color);
}

.L_move {
  background: var(--left-color);
}

.R_move {
  background: var(--right-color);
}

.U_move {
  background: var(--up-color);
  color: #212121 !important;
}

.D_move {
  background: var(--down-color);
  color: #212121 !important;
}

.highlight_move {
  border: 1px white solid;
}

.scroll-icon {
  margin: 0 10px;
}

.scroll-icon:hover {
  cursor: pointer;
}

.right-scroll {
  transform: scaleX(-1);
}

@media (min-width: 320px) {
  .svg-header {
    width: 16.5rem;
    --_spacer: 20px;
  }

  .svg-header span {
    width: 2.1rem;
    height: 2.1rem;
  }

  .scroll-icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}

@media (min-width: 481px) {
  .svg-header {
    width: 30rem;
    --_spacer: 16px;
  }

  .svg-header span {
    width: 2.5rem;
    height: 2.5rem;
  }

  .scroll-icon {
    width: 2rem;
    height: 2rem;
  }
}
