.solve-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-cls button {
  border: none;

  border-radius: 1.5rem;
  background: #e4edf1;
  color: #212121;
  font-size: 1.2em;
  text-align: center;

  margin: 0;
  padding: 0;

  @media (min-width: 320px) {
    width: 6.75rem;
    height: 2.25rem;
  }

  @media (min-width: 481px) {
    width: 7.5rem;
    height: 2.5rem;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;

  width: 15rem;
  /* margin-top: 1.5rem; */

  position: absolute;
  margin-top: calc(2.5rem + 25px);
}

.flip {
  transform: scaleX(-1);
}

.icon-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.control-icon {
  @media (min-width: 320px) {
    width: 1.85rem;
    height: 1.85rem;
  }

  @media (min-width: 481px) {
    width: 2rem;
    height: 2rem;
  }
}
