.solve-buttons {
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-cls button {
  border: none;
  width: 7.5rem;
  height: 2.5rem;
  border-radius: 1.5rem;
  background: #e4edf1;
  color: #212121;
  font-size: 1.2em;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 15rem;

  margin-top: 1.5rem;
}

.flip {
  transform: scaleX(-1);
}

.control-icon {
  width: 2rem;
  height: 2rem;
}
