:root {
  --front-color: #009b48;
  --back-color: #0046ad;
  --left-color: #ff5800;
  --right-color: #b71234;
  --up-color: #ffffff;
  --down-color: #ffd500;
  --border-size: 1.5px;
}

body {
  margin: 0;
  overflow: hidden;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
